PHPSESSID= # how to get in README
VS_WEBSESSIONKEY= # how to get in README
R2_ACCOUNT_ID= # needed for generating windows download links
R2_ACCESS_KEY_ID= # needed for generating windows download links
R2_SECRET_ACCESS_KEY= # needed for generating windows download links
R2_BUCKET=vsapi
R2_PUBLIC_BASE= # optional, needed for generating public download links