PHPSESSID= # how to get in README
VS_WEBSESSIONKEY= # how to get in README
R2_ACCOUNT_ID= # needed for generating windows download links
R2_ACCESS_KEY_ID= # needed for generating windows download links
R2_SECRET_ACCESS_KEY= # needed for generating windows download links
R2_BUCKET=vsapi
R2_PUBLIC_BASE= # optional, needed for generating public download links
REDIS_URL=

BETTER_AUTH_SECRET= # can be generated
BETTER_AUTH_URL= # Base URL of your app

TURSO_DATABASE_URL=
TURSO_AUTH_TOKEN=

TURNSTILE_SECRET_KEY=
